<html>
  <head>
    <title>Hello</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
        $(function() {
            $(".square").hover(function() {
                $(this).toggleClass('highlighted')
            })
            $(".square").click(function() {
                $(this).css({"background":"red"})
            })
        })

        $.get('https://api.forecast.io/forecast/7d629158877db2f60212c47c6ab6f177/37.8267,-122.423', function(data) {
          console.log(data)
        })
    </script>
  </head>
  <body>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
      <div class='square'> </div>
  </body>
</html>
