<html>
  <head>
    <title>Hello</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
        $(function() {
            $(".square").hover(function() {
                $(this).toggleClass('highlighted')
            })
            $(".square").click(function() {
                $(this).css({"background":"red"})
            })
        })
    </script>
  </head>
  <body>

    <% if @error %>
      <div class='error'><%= @error %></div>
    <% end %>

    <div class='box'>
       
      <div class='title'>Login</div>
      <img src='<%= @picture %>' />

      <form action='/go_here' method='post'>
        <input name='place' placeholder='place' />

        <input type='submit' />
      </form>

    </div> 
    
  </body>
</html>
